#navBar{
    position:absolute;
    top:0;
    z-index: 1;
    width:100%;
    height:0;
    display:grid;
    grid-auto-flow: column;
    #logo{
        display:grid;
        opacity:1;
        justify-content: center;
        align-content: center;
        background-color:rgba(1,1,1,0);
        
        h2{
            text-decoration: none;
            color:yellow;
            opacity:1;
        }
        a{text-decoration: none;}
    }
    #links{
        display:grid;
        grid-auto-flow: column;
        justify-content: space-around;
        grid-gap: 1em;
        font-size: 1.2em;
        align-content:center;
        a{
            padding: 5px 8px;
            margin: 2px;
            text-decoration: none;
            color: rgb(241, 115, 12);
        }
        a:hover{    
            text-shadow: 
                    0 0 5px yellow,
                    0 0 9px red;
        }
    }
}