$black-text: #0f0e0c;
$white-background: #f1f1f1;
.outerContainer {
  height: 90vh;

  
  .projectsContainer {
    // display: flex;
    // flex-direction: column;
    padding-top: 15vh;
    & > #outerLineRight {
      border-left: 3px solid #f1f1f1;
      height: 23.8em;
      position: fixed;
      right: 20px;
      top: 25vh;
    }
    & > #title {
      color: #f1f1f1;
      text-orientation: upright;
      writing-mode: vertical-rl;
      font-size: 2em;
      position: fixed;
      left: 20px;
      top: 25vh;
      text-decoration: underline;
    }
    & > #allProjects {
      & > #spread {
        display: block;
      }
    }

    & > .activeProject {
      width: 60vw;
      margin: 0 auto;
      & > .project {
        margin: 1em;

        margin-bottom: 2em;
        & > #title {
          color: $black-text;
          background-color: $white-background;
          z-index: 1;
          display: block;
          margin: 0 auto;
          width: 14em;
          height: 2em;
          box-shadow: 0.25em 0.25em #00c2cb;
          padding-top: 0.5em;
          margin-bottom: 1em;
        }
        & > #info {
          display: flex;
          flex-direction: column;
          // height: 85%;
          min-height: 250px;
          background-color: $white-background;
          padding: 5px;
          & > #desc {
            color: $black-text;
            text-align: left;
            margin-bottom: 15px;
          }
          & > #skills {
            display: flex;
            flex-wrap: wrap;
            margin-top: auto;
            justify-content: space-between;
            align-self: flex-end;

            .skill {
              align-self: flex-end;
              color: $black-text;
              margin-right: 1em;
            }
          }
        }
      }
      .prev {
        height: 0;
        width: 0;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-right: 30px solid red;
        position: fixed;
        left: 15vw;
        top: 35vh;
      }

      .next {
        height: 0;
        width: 0;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 30px solid red;
        position: fixed;
        right: 15vw;
        top: 35vh;
      }
    }
  }
}
