/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display:wght@700&display=swap");

$black-text: #0f0e0c;
$white-background: #f1f1f1;
$blue-logo-color: #00c2cb;
.skillsContainer {
  color: $white-background;
  position: relative;
  min-height: calc(100vh - 50px);
  .content {
    font-family: "Courier Prime", monospace;
  }
  .titles {
    font-family: "Playfair Display", serif;
  }
  & > .skillGrouping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top:auto;
    & > .skillList {
      list-style: none;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 10px 10px;
      -webkit-box-flex: 1;
          -ms-flex: 1 4 50vw;
              flex: 1 4 50vw;
      font-size: 1.1em;

      & > .skill {
        color:$blue-logo-color;
        font-size: 1em;
      }
    }
  }
  & > #bottom_images {
    &>.binary{
      position: relative;
      z-index:0;
      padding-top:40px;
      width: 80vw;
    }
    &>.hands{
      position: absolute;
      width: 80px;
      left: calc(50% - 40px);
      background-color: $black-text;
      bottom:0;
      padding:0;
      margin:0;
      height: 60px;
      z-index:1;
    }
    
    
  }
}