* {
  box-sizing: border-box;
}

.logo {
  grid-area: logo;
}
#info {
  grid-area: contact;
}
#contactContainer {
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-areas:
    "logo cta ."
    "  .  cta ."
    "  .  cta contact";
}

#callToAction {
  width: 100%;
  grid-area: cta;
  & > p,
  h1,
  label {
    color: #fff;
  }
  hr {
    width: 75%;
    margin: 0 auto;
  }

  #desc{
      margin-top: 2vh;
      text-align: left;
  }
  form {
    border: 1px solid #fff;
    & > label {
      text-align: left;
    }
    input {
    width:100%;
    height: 2rem;
    font-size: 1rem;
    display: inline-block;
    border: none;
    background: #fff;
    overflow: auto;
    }
    textarea[name="message"]{
        width:100%;
        height: 4rem;
        overflow:auto;
        resize:none;
    }
  }
}

.logo {
  width: 25vw;
}
#info {
  color: #fff;
  text-align: left;
  margin: 0 auto;
  padding: 0 2vw;
}
