#navBar{
    display:grid;
    min-height:100px;
    grid-auto-flow: column;
    background-color:#111;
    #logo{
        display:grid;
        background-color:#f2a;
        justify-content: center;
        align-content: center;
    }
    #links{
        display:grid;
        grid-auto-flow: column;
        justify-content: space-around;
        grid-gap: 1em;
        font-size: 1.2em;
        align-content:center;
        
        a{
            padding: 5px 8px;
            margin: 2px;
            background-color: #111;
            text-decoration: none;
            color: yellow;
        }
        a:hover{    
            box-shadow: 0 0 15px 3px yellow;
        }
    }
}