@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
#title {
  color: red;
  margin-top: 50px;
}

#heart {
  width: 400px;
  height: 400px;
  background-color: red;
  fill: blue;
  stroke-width: 4px;
  stroke: blue;
}

#heart path {
  fill: blue;
  stroke-width: 2px;
  stroke: blue;
}

.timer {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer p {
  color: blue;
  font-size: 90px;
}

#cake {
  margin: 0 25px;
}

#cake img {
  height: 400px;
  width: 500px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 40px;
  left: 40vw;
  right: 40vw;
  opacity: 0;
  -webkit-animation: show 1s forwards 26s;
          animation: show 1s forwards 26s;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.page .bar {
  background-color: red;
  width: 300px;
}

.page .bar .selection {
  background-color: blue;
  width: 150px;
  border: red 1px solid;
  color: white;
}

.page .bar .selection:hover {
  background-color: purple;
}

#celebration {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: repeat;
  -webkit-animation: backgroundAnim 25s;
          animation: backgroundAnim 25s;
  -webkit-transition: background 2s;
  transition: background 2s;
}

#celebration .messages {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 0 15px;
  padding: 0 0 30px 0;
  opacity: 0;
  -webkit-animation: message1 10s ease-in-out 15s;
          animation: message1 10s ease-in-out 15s;
}

#celebration .messages h1 {
  font-size: 80px;
  text-align: left;
  color: white;
  margin: 0;
  font-family: 'Dancing Script', 'cursive';
}

#celebration .message2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10vh;
  right: 10vw;
  left: 10vw;
  opacity: 0;
  -webkit-animation: message2 3s forwards 25s;
          animation: message2 3s forwards 25s;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

#celebration .message2 p {
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'sans-serif';
  margin: 5px 25px;
}

#celebration .imageWheel {
  position: absolute;
  bottom: 10vh;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  padding: 0;
  margin: 0;
}

#celebration .imageWheel .imageContainer {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-animation: slide 30s linear infinite 26s,show 2s forwards 26s;
          animation: slide 30s linear infinite 26s,show 2s forwards 26s;
  opacity: 0;
}

#celebration .imageWheel .imageContainer .jaymee {
  width: 350px;
  height: 250px;
}

@-webkit-keyframes backgroundAnim {
  0% {
    background: url("../imageGallery/fireworks1.gif") repeat fixed center;
  }
  25% {
    background: url("../imageGallery/fireworks2.gif") repeat fixed center;
  }
  50% {
    background: url("../imageGallery/fireworks3.gif") repeat fixed center;
  }
  100% {
    background: url("../imageGallery/jaymee.jpg") no-repeat fixed center;
  }
}

@keyframes backgroundAnim {
  0% {
    background: url("../imageGallery/fireworks1.gif") repeat fixed center;
  }
  25% {
    background: url("../imageGallery/fireworks2.gif") repeat fixed center;
  }
  50% {
    background: url("../imageGallery/fireworks3.gif") repeat fixed center;
  }
  100% {
    background: url("../imageGallery/jaymee.jpg") no-repeat fixed center;
  }
}

@-webkit-keyframes message1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes message1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes message2 {
  from {
  }
  to {
    opacity: 1;
  }
}

@keyframes message2 {
  from {
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  from {
  }
  to {
    -webkit-transform: translateX(-600vw);
            transform: translateX(-600vw);
  }
}

@keyframes slide {
  from {
  }
  to {
    -webkit-transform: translateX(-600vw);
            transform: translateX(-600vw);
  }
}

@-webkit-keyframes show {
  from {
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=Styling.css.map */