$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;
$something: 600px;


@media only screen and (max-width: $something) {
    #about {
    transform: translateY(20px);
    display:flex;
    flex-direction: column;
    flex:1;
        img.profilePic{
            margin:0 auto;
            padding:0;
            background-color:red;
        }
        h2{
            margin: 0;
            padding:0;
        }
        p{
            margin:0;
            padding:0;
            line-height: 1.2em;
        }
    }
    #navBarSpacer{
    }
  }

#navBarSpacer{
    height:50px;
    margin:0;
    padding:0;
}
#about{
    position: relative;
    padding-bottom:5vh;
    text-align: left;
    height:100%;
    min-height:50vh;
    margin: 0 20px;

    hr{
        border:1px solid red;
    }
    .spacer{
        background-color:red;
    }
    
    img {
        object-fit: cover;
        height:200px;
        width:200px;
        object-position: 45% 20%;
        border-radius:50%;
        float:left;
        shape-outside: circle();
        margin: 0 15px 0 0px;

    }
    h2{
        color:red;
        text-align: center;
    }
    .spacing{
        background-color:red;
        color:red;
    }
}