/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display:wght@700&display=swap");
$black-text: #0f0e0c;
$white-background: #f1f1f1;
$blue-logo-color: #00c2cb;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#about {
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex column;
  font-size: 1.5em;
  position: relative;
  .header {
    font-family: "Playfair Display", serif;
    font-size: 3em;
  }
  .content {
    font-family: "Courier Prime", monospace;
    line-height: 1.5em;
  }
  & > #title {
    color: $white-background;
    text-shadow: 2px 2px 5px $blue-logo-color;
  }

  & > #images {
    & > #me {
      width: 150px;
      border-radius: 50%;
    }
  }
  & > #details {
    color: $white-background;
    margin: 0 1em;
    text-align: left;
    -webkit-box-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    padding-bottom: 2em;
    & > #desc {
      & > #laptop {
        display: block;
        margin: 5px calc(50% - 1em);
      }
    }
    & > #selfLearning {
      & > #code {
        display: none;
      }
    }
  }
  & > .bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    width: 100%;

    & > #logos {
      color: $blue-logo-color;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      font-size: 1.5em;
    }
  }
}
@media only screen and (min-width: 800px) {
  #about {
    display: flex column;
    .content {
      font-size: 0.9em;
    }
    & > #title {
      margin: 5px 25vw 0.5em 0;
    }
    & > #details {
      & > #desc {
        & > #laptop {
          font-size: 2em;
          margin: 5px 34vw;
        }
      }
    }

    & > #images {
      & > #me {
        float: right;
        width: 25vw;
        margin-top: -5vw;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-logo-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00c290;
}