.main{
    display: flex;
    display: -webkit-flex;
    flex-direction:inherit;
    -ms-flex-direction: inherit;
    
    min-height:80vh; /* will cover the 100% of viewport */
    overflow: hidden;
    flex:1;
    margin: 0 5px;
    
    #content{
        background-color:green;
        position: relative;
        top: 35vh;
        opacity: 0;
        -moz-opacity: 0;
        -webkit-opacity: 0;
        transition: opacity .2s ease-in;
        -moz-transition: opacity .2s ease-in;
        -webkit-transition: opacity .2s ease-in; 
    }
    #content.animate{
        animation-name: fancyload;
        animation-duration: 8s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        -moz-animation-timing-function: ease;
        -o-animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    @keyframes fancyload {
        from{
            background: #fff;
        }
        to{
            background: rgb(241, 115, 12);
            opacity: 1;
        }
    }

    
}