/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display:wght@700&display=swap");
$blue-logo-color: #00c2cb;
.navBar {
  .content{
    font-family: "Courier Prime", monospace;
  }
  .titles{
    font-family: "Playfair Display", serif;
  }
  z-index: 1;
  & > ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    & > #homeLI {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
      margin: 0;
      width: 50px;
      height: 50px;
      margin-left: 15px;
    }
    & > #homeLI #home #logo {
      width: 50px;
    }
    & > #homeLI #home #logo:hover{
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
    }
   
    & > .links {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      & > li:hover{
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
      }
      & > li a {
        color: #f1f1f1;
        text-decoration: none;
      }

      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navBar {
    & > ul {
      & > .links {
        padding: 0;
        margin: 0;
        width: 90vw;
      }
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .navBar {
    & > ul {
      & > .links {
        padding: 0;
        margin: 0;
        width: 70vw;
      }
    }
  }
}