@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&family=Teko:wght@300&family=ZCOOL+KuaiLe&display=swap");

/* If you do look in here. it's not my best work but I was going to give up
  on it otherwise so I decided I should just do it and send it because "you miss 100%
  of the shots you never take"
*/
$main-text: #fff;
$nav-size: 50px;
$header-font: "ZCOOL KuaiLe", cursive;
$sub-headers: "Teko", sans-serif;
$text1: "Indie Flower", cursive;
$text2: "Patrick Hand", cursive;
#tom {
  color: white;
  margin: $nav-size 25px;
  list-style: none;
  background: url("../../images/astro.png") no-repeat;
  min-height: 100vh;
  object-fit: scale-down;
  background-attachment: fixed;
  max-width: 100vw;
  object-position: 200% 5px;
  background-size: cover;
  background-position-x: 50%;

  p {
    font-family: $text1;
    padding: 0 5px;
  }
  .subHeader {
    color: $main-text;
    font-size: 1.6em;
    font-family: $sub-headers;
  }
  .bubble {
    color: #000;
    background-color: #f1f;
    border-radius: 10px;
    width: fit-content;
    margin: 5px auto;
    padding: 5px;
    font-family: $header-font;
  }
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #img {
    object-fit: cover;
    height: 200px;
    min-width: 150px;
    max-width:150px;
    background-color: #000;
  }
  & > #aboutMe {
    list-style: none;
    text-align: justify;
    padding: 0 5px;
    margin: 15px 0;
    background: rgb(2, 0, 36);
    border-radius: 5px;

    #doggo {
      margin: 10px 0;

      #tonka {
        background-size: contain;
        width: 100%;
        height: 70vh;
        object-fit: scale-down;
      }
      & > #caption {
        color: rgba($color: $main-text, $alpha: 0.8);
      }
    }
  }
  & > #whyHireMe {
    background-color: rgba($color: #000000, $alpha: 0.9);
    text-align: justify;
    padding: 0 5px;
    h3 {
      text-align: center;
      margin: 10px 0;
      font-size: 1.8em;
      color: rgba($color: $main-text, $alpha: 0.7);
    }
    #topic {
      font-size: 1.4em;
      color: rgba($color: #f1f, $alpha: 0.7);
    }
    #response {
      font-family: $text2;
      margin-bottom: 10px;
      font-size: 1.25em;
      color: rgba($color: $main-text, $alpha: 0.7);
    }
  }
  #troll {
    background-color: #000;
    font-family: $text2;
    text-align: center;
    margin: 10px 0;
  }

  .vidExamplesCaption {
    background-color: #000;
    font-family: $text2;
    font-size: 1.2em;
    text-align: justify;
  }
  #video {
    width: 75vw;
  }
  #vid {
    background-color: #000;
  }
  #answer{
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 700px) {
  #tom {
    .imageContainer {
      margin: 0 auto;
      flex-direction: row;
      justify-content:space-around;
      width: 75%;
      #img {
        object-fit: cover;
        height: 200px;
        min-width: 200px;
        max-width:200px;
        background-color: #000;
      }
    }
  }
}
