#navBar {
    position: absolute;
    display:flex;
    flex:no-wrap;
    height:auto;
    width:100vw;
    background-color: rgba(225,0,0,0);
    z-index:1;
    #logo {
        flex-basis: 100px;
        flex-shrink: 0;
    }
    #links{
        width:100%;
        display:flex;
        justify-content: flex-end;
        font-size: 1.2em;
        align-items: center;
        
        a{
            margin-right:50px;
            background-color: rgba(0,0,0,0);
            text-decoration: none;
            color: rgb(241, 115, 12);
            height:fit-content;
        }
        a:hover{    
            box-shadow: 0 0 15px 3px yellow;
        }
    }
    
}

@media only screen and(max-width:900px){
    #navBar{
        margin:0;
        padding:0;
        #links{
            justify-content: space-between; 
            margin-right:15px;
            
         }
    }
}
@media only screen and (max-width:600px){
    #navBar{
        margin:0;
        padding:0;
    }

    
}