#footer{
    width: 100%;
    // display: inline-flex;
    // justify-content: center;
    min-height: 5vh;
    background-color:blue;
    display:flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-content: flex-end;

    a{
        text-decoration:none;
        margin-right: 20px;
    }
    a .reddit{
        color: #FF5700;
    }
    a .twitter{
        color: #1da1f2;
    }
    a .facebook{
        color: #4267B2;
    }
    a .linkedin{
        color: #2867b2;
    } 
    .github{
        vertical-align: middle;
        color:#daa;
        opacity: 60%;
        -moz-opacity: 0.6;
        -webkit-opacity: 0.6;
        transition: opacity .2s ease-in;
        -moz-transition: opacity .2s ease-in;
        -webkit-transition: opacity .2s ease-in; 
    }
    .github:hover{
        opacity: 100%;
        -moz-opacity: 1;
        -webkit-opacity: 1;
    }
}
.callToAction{
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    color: #f2a;
    margin: auto auto;
}